
.footer_holder {
  background: #fff;
  padding: 26px 40px;
  box-shadow: 0 0 50px rgba(0, 0, 1, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-clip: padding-box;
  border-top: 1px solid $brand_color;
  border-image: -moz-linear-gradient(left, #a5d795 0%, #8dc27c 50%, #185a04 100%)  10 stretch; /* FF3.6-15 */
  border-image: -webkit-linear-gradient(left, #a5d795 0%,#8dc27c 50%,#185a04 100%)  10 stretch; /* Chrome10-25,Safari5.1-6 */
  border-image: linear-gradient(to right, #a5d795 0%,#8dc27c 50%,#185a04 100%)  10 stretch; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5d795', endColorstr='#185a04',GradientType=1 ); /* IE6-9 */
}

.footer_nav {
  align-self: flex-start;
  a {
    text-transform: uppercase;
    color: $brand_color;
    font-size: 12px;
    font-family: $semibold;
    transition: .3s all;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    line-height: 1.25;
  }
}

.social {
  ul {
    margin: 0 -10px;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    display: block;
  }
  i {
    color: #fff;
    font-size: 14px;
  }
}

.circle-icon {
  background: $brand_color;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
  transition: all .3s ease-in-out;
  &:hover {
    opacity: .8;
  }
}

.footer {
  flex: 0 0 auto;
}

.footer_holder {
  > div {
    display: flex;
    margin: 0 15px 15px 15px;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    &:first-child {
      margin-right: 44px;
      @media (max-width: 700px) {
        flex-direction: row-reverse;
        margin-right: 0;
      }
    }
  }
  .social {
    align-self: center;
  }
  .footer_logo {
    align-self: center;
  }
}

.footer_holder > div:first-child .footer_nav {
  margin-right: 44px;
}