//fonts
$light: 'Open Sans Light';
$bold: 'Open Sans Bold';
$semibold: 'Open Sans Semibold';
$regular: 'Open Sans Regular';
$myriad_regular: 'Myriad Pro Regular';

//colors
$brand_color: #185a04;
$secondary_color: #3a3a3a;